---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: di-server
  name: di-server
spec:
  selector:
    control-plane: di-server
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
