apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: di-leader-election-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: di-leader-election-role
subjects:
- kind: ServiceAccount
  name: di-orchestrator
